/*=========================================================================================
  File Name: app.scss
  Description: Write your custom scss
  ----------------------------------------------------------------------------------------
  Item Name: Vuesax Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import 'main';

// hide ag-grid watermark (it's steal but I don't have 750$ for a license)
.ag-watermark {
    display: none !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}
